**/node_modules

**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.pnpm-store
.yarn
.pnpm-debug.log

**/dist
**/build

.DS_Store
Thumbs.db

.git
.gitignore

.vscode
.idea

*.env
*.env.*

Dockerfile
docker-compose.yml
docker-compose.override.yml